h1 {
    color : #005a32;
    font-variant: small-caps;
    border-bottom: solid 2px #63ba92;
}
h2,h3 {
    color : #005a32;
}
h4,h5 {
    color : #238443;
}
div.caption {
    font-size: small;
    color: #333333;
    padding-bottom:1em;
    padding-left:1em;
    padding-right:1em;
    padding-top:0em;
}

img {
    max-width : 90%
}

div#topbar {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: solid 2px #63ba92;
    margin-bottom: 1em;
}

div#topbar a {
    color: #005a32;
    font-weight: bold;
    padding: 2em;
}
